.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-color: rgba(#fff, 0.9);
}
.lightbox__image {
    position: fixed;
}
.lightbox__close {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: url(cross.svg) transparent no-repeat;
    background-size: 50px 50px;
    transition: transform 0.3s;
    cursor: pointer;
}
.lightbox__btn {
    position: fixed;
    top: 50%;
    width: 50px;
    height: 90px;
    margin-top: -40px;
    background-color: transparent;
    background-size: 50px 90px;
}

.lightbox__next {
    right: 20px;
    background: url(next.svg) no-repeat;
}
.lightbox__prev {
    left: 20px;
    background: url(prev.svg) no-repeat;
}
.lightbox__btn:hover, .lightbox__close:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
    cursor: pointer;
}

.lightbox__loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
    margin-left: -20px;
    margin-top: -20px;
    background-color: #444;
    background-color: rgba(#000, 0.5);
    border-radius: 40px;
    &:after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 20px;
        animation: lightbox-loading .5s ease infinite;
    }
}

@keyframes lightbox-loading {
    0% {
        opacity: 0.5;
        transform: scale(0.75);
    }
    50% {
        opacity: 1;
        transform: scale(1)
    }
    100% {
        opacity: 0.5;
        transform: scale(0.75);
    }
}

.lightbox-fade-enter-active, .lightbox-fade-leave-active {
    transition: opacity 0.3s;
}
.lightbox-fade-enter-active {
    transition-delay: 0.3s;
}
.lightbox-fade-enter, .lightbox-fade-leave-active {
    opacity: 0;
}

.lightbox-next-enter-active, .lightbox-enter-leave-active {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.5s, opacity 0.5s;
}
.lightbox-next-enter {
    opacity: 0;
    transform: translateX(100px);
}
.lightbox-next-leave-active {
    opacity: 0;
    transform: translateX(-100px);
}


.lightbox-prev-enter-active, .lightbox-prev-leave-active {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.5s, opacity 0.5s;
}
.lightbox-prev-enter {
    opacity: 0;
    transform: translateX(-100px);
}
.lightbox-prev-leave-active {
    opacity: 0;
    transform: translateX(100px);
}